.page {
    /* background-color: rgb(10, 10, 10); */
    /* border: 1px solid rgb(56, 56, 56); */
    margin-top: 60px;
    padding: 24px;
    width: 100%;
    border-radius: 18px;
}

.page h1 {
    font-size: 1.8em;
    font-weight: 500;
}

.block {
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(56, 56, 56);
    border-radius: 8px;
    padding: 24px;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blockRow {
    display: flex;
    flex-direction: row;
}

.block label {
    font-size: 1.02em;
    font-weight: 600;
}

.page input {
    background-color: rgb(10, 10, 10);
    border: 1px solid rgb(56, 56, 56);
    padding: 6px 10px;
    border-radius: 8px;
}

.page img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.page a {
    color: rgb(223, 223, 223);
}

.page a:hover {
    text-decoration: underline;
}

.page button {
    border-radius: 8px;
    padding: 8px 12px;
    background-color: rgb(10, 10, 10);
    border: 1px solid rgb(56, 56, 56);
    margin-top: 24px;
    margin-left: auto;
    display: block;
    cursor: pointer;
}

.page button:hover {
    background-color: rgb(24, 24, 24);
    transition: 0.06s ease-in-out;
}
